.md-content {
  .prompt-buttons {
    margin-bottom: 16px;
    gap: 8px;
  }

  .header--category {
    display: inline-block;
    margin-bottom: 8px;
  }

  .info-block {
    display: flex;
    margin: 24px 0 32px;
    gap: 8px;

    .info-block__general {
      display: flex;
      flex-direction: column;
      align-items: end;
      color: var(--primary-colors-almost-black);
      font: var(--roboto-13-500);
      gap: 4px;
    }

    .info-block__data {
      display: flex;
      flex-direction: column;
      align-items: start;
      color: var(--primary-colors-almost-black);
      font: var(--roboto-13-400);
      gap: 4px;

      .prompt__link {
        margin-right: 8px;
        padding: 0 4px;
        border: 0;
        font-weight: 500;
        text-decoration: none;

        &::after {
          display: inline-block;
          content: ',';
        }

        &:last-child::after {
          display: none;
        }
      }
    }
  }

  .variables-block {
    margin: 24px 0;
  }

  .prompt-block-heading {
    margin-bottom: 12px;
    color: var(--primary-colors-almost-black);
    font: var(--roboto-17-500);
  }

  .iterations-history-heading {
    margin: 24px 0;
  }

  .clipboard-block {
    display: flex;
    align-items: flex-end;
    align-self: stretch;
    margin-bottom: 8px;
    border-radius: 4px;
    background: var(--primary-colors-white);
    box-shadow: 0 1px 3px 0 rgba(55, 67, 98, 0.1);

    &:last-child {
      margin-bottom: 0;
    }

    .clipboard-block__name {
      padding: 16px 0 16px 16px;
      color: var(--primary-colors-almost-black);
      font: var(--roboto-13-500);
    }

    .clipboard-block__text {
      padding: 16px;
      color: var(--primary-colors-almost-black);
      font: var(--roboto-13-400);
    }

    .clipboard-block__button {
      display: flex;
      width: 40px;
      height: 32px;
      margin-left: auto;
      padding: 0 16px 16px 8px;

      & svg {
        max-width: none;
      }
    }
  }

  .download-json-button {
    margin-left: auto;
  }

  .md-typeset details.details {
    margin: 8px 0;
    border: none;

    &:focus-within {
      box-shadow: none;
    }

    &:is([open]) {
      padding: 0 16px 16px;
      outline: var(--focused-border);
      background: var(--background-bg-100);

      & > :last-child {
        margin-bottom: 0;
      }

      .summary {
        margin: 0 -16px;

        &::after {
          color: var(--topaz-focused);
        }
      }

      .summary-closed-image {
        display: none;
      }

      .info-block {
        justify-content: center;
      }

      .variables-block {
        margin-bottom: 0;
      }
    }

    &:not([open]) {
      .summary-open-image {
        display: none;
      }
    }

    .summary {
      padding: 12px 8px 12px 16px;
      border-radius: 4px;
      background: var(--primary-colors-white);
      box-shadow: 0 1px 3px 0 rgba(55, 67, 98, 0.1);

      &::before {
        display: none;
      }

      &::after {
        top: 14px;
        color: var(--elements-e-300);
      }

      .summary-wrapper {
        display: flex;

        .summary-title {
          margin-left: 16px;
          color: var(--character-primary-85);
          font:
            normal 400 14px / 22px Roboto,
            sans-serif;
        }
      }
    }
  }
}
