.md-nav--secondary {
  .md-nav__title {
    padding: 16px;
    border-bottom: 1px solid var(--elements-e-100);
    border-radius: 8px 8px 0 0;
    color: var(--primary-colors-almost-black);
    font: normal 500 15px / 24px Roboto, sans-serif;
    background: var(--background-bg-200);
    box-shadow: none;

    @media screen and (width <= 960px) {
      display: flex;
      align-items: end;
      border-radius: 0;
      color: var(--primary-colors-white);
      font-size: 17px;
      background: var(--primary-colors-almost-black);
    }
  }

  .md-nav__list {
    padding-left: 0 !important;

    .md-nav__item {
      padding: 16px;
      border-bottom: 1px solid var(--elements-e-100);
      background: var(--primary-colors-white);

      @media screen and (width <= 960px) {
        border-bottom: none;
      }

      .md-nav__link {
        margin-top: 0;
        color: var(--primary-colors-almost-black);
        font: normal 400 13px / 20px Roboto, sans-serif;
        text-decoration: none;

        @media screen and (width <= 960px) {
          padding: 0;
        }
      }

      &:has(a.md-nav__link--active) {
        background: var(--background-bg-topaz-50);
      }

      &:last-child {
        border-radius: 0 0 8px 8px;
      }
    }
  }
}
