:root {
  --primary-colors-white: #fff;
  --primary-colors-almost-black: #3f3f3f;
  --background-bg-000: #fff;
  --background-bg-100: #f7f7f8;
  --background-bg-200: #eceff4;
  --background-bg-topaz-50: #e5f5f8;
  --tag-value: #c6ecd3;
  --tag-value-text: #417252;
  --tag-operator: #ced8fc;
  --tag-operator-text: #394db6;
  --tag-key: #dac3e5;
  --tag-key-text: #6f4599;
  --tag-custom: #f9e6cb;
  --tag-custom-text: #d87400;
  --topaz-topaz: #00829b;
  --topaz-hover: #009dbb;
  --topaz-pressed: #00758c;
  --topaz-focused: #00b0d1;
  --elements-e-100: #e3e7ec;
  --elements-e-300: #a2aab5;
  --elements-e-400: #8d95a1;
  --character-primary-85: rgba(0, 0, 0, 0.85);
  --focused-border: 2px solid var(--topaz-focused);
  --roboto-13-400: normal 400 13px / 20px roboto, sans-serif;
  --roboto-13-500: normal 500 13px / 20px roboto, sans-serif;
  --roboto-14-500: normal 500 14px / 24px roboto, sans-serif;
  --roboto-15-500: normal 500 15px / 24px roboto, sans-serif;
  --roboto-17-500: normal 500 17px / 24px roboto, sans-serif;
  --open-sans-20-400: normal 400 20px / 31px "Open Sans", sans-serif;
  --md-primary-fg-color: #3f3f3f;
}
